{% extends 'base.html.twig' %}

{% block title %}

    {% if app.user %}
        Hello {{ app.user.username }}
    {% else %}
        Hello guest
    {% endif %}
{% endblock %}

{% block body %}

    <div class="container">

        <div class="jumbotron">
            <div class="example-wrapper">
                {% if app.user %}
                    <h1>Hello {{ app.user.username }}</h1>
                    <div style="text-align: center">
                        <h3>Persoonlijke gegevens</h3>
                        <div>
                            username: {{ app.user.username }} </br>
                            email: {{ app.user.email }}</br>
                            last logindate: {{ app.user.logindate|date('Y-m-d') }}
                        </div>
                    </div>

                    <div style="text-align: center">
                        <h3>Alle dorpen</h3>
                        <table style="margin:auto">
                            <tr style="font-weight: bold">
                                <td>TownID</td>
                                <td>Beschrijving</td>
                                <td>Hoeveelheid</td>
                            </tr>
                            {% for town in app.user.towns %}
                            <tr>
                                <td> {{ town.id }}  </td>
                                <td>{{ town.townstatus }}  </td>
                                <td>{{ town.townquantity }} </td>
                            <tr>
                                {% endfor %}
                        </table>
                    </div>


                    <div style="text-align: center">
                        <h3>Actie geschiedenis</h3>
                        Aantal uitgevoerde acties: {{ app.user.actions|length }}
                        <br><br>
                        <table style="margin:auto">
                            <tr style="font-weight: bold">
                                <td>ActionID</td>
                                <td>Beschrijving</td>
                                <td>Hoeveelheid</td>
                            </tr>
                            {% for action in app.user.getActions() %}
                            <tr>
                                <td>{{ action.id }}</td>
                                <td>{{ action.actiondescription }} </td>
                                <td>{{ action.actionquantity }}</td>
                            <tr>
                                {% endfor %}
                        </table>
                    </div>
                    <br>

                    {% if not is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_profile_delete',{id: app.user.id}) }}">Delete My Account </a>
                    {% endif %}


                {% else %}
                    <h1>Hello Guest</h1>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
