{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <div style="width:700px; margin:auto;">
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}
                {% if error != '' %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}
                <h1>Register</h1>

                    {{ form_start(registrationForm) }}

                        {{ form_row(registrationForm.email, {
                            label: 'Email'
                        }) }}

                        {{ form_row(registrationForm.username, {
                            label: 'Username'
                        }) }}

                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}


                        {{ form_row(registrationForm.plainPassword2, {
                            label: 'Password verification'
                        }) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn btn-danger">Register</button>

                    {{ form_end(registrationForm) }}

            </div>
            <br>
            <a href="{{ path('app_home') }}">Back</a>
        </div>
    </div>
{% endblock %}
