html,
body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: content-box;
    width: 100vw;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
}

logo {
    width: auto;
    text-align: center;
}

.container {
    height: max-content;
    overflow: hidden;
    background-color: white;
    z-index: 0;
    margin: auto;
    flex: 1 0 auto;
    padding-bottom: 0px;
}

footer {
    background-color: #e7302a;
    width: 100%;
    height: auto;
    bottom: 0px;
    position: page;
    height: 100px;
}

card {
    margin: 0.5em;
}

custom {
    font-size: 3em;
}

.navigation {
    font-size: 1.5em;
    color: #000000;
}

.cell {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-image: url('http://users.skynet.be/fc055496/0.png');
}

.cell:hover {
    cursor: pointer;
    filter: brightness(0.9) !important;
}

.town {
    z-index: 0;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-image: url('http://users.skynet.be/fc055496/1.png');
    background-color: rosybrown;
}

.town:hover {
    cursor: pointer;
    filter: brightness(0.9) !important;
}

img {
    max-width: 100%;
    height: auto;
}

.stats {
    opacity: 90%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    z-index: 1;
    position: relative;
    float: right;
    width:13vw;
    max-width: 800px;
    min-width: 250px;
    min-height: 600px;
    height: 100%;
    max-height: 850px;
    overflow-y: auto;
    margin-left: 1vw;

    background-color: #ffffff;

}

.cellinfo {
    position: relative;
    visibility: hidden;
    clear: both;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.celldetail {
    visibility: hidden;
}

#towninfo {
    text-align: center;
    font-size: x-small;
    padding: 5px;
    display: block;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 40px;
    background-color: #eeeeee;
}

.username {

    bottom: 10px;
    clear: both;
    position: relative;
    right: 33.33%;
    z-index: 2;
    visibility: hidden;
    font-size: smaller;
    background-color: #000000;
    padding: 2px;
    height: 20px;
    width: min-content;
    color: white;
}

.events {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left !important;
    font-size: x-small;
    padding-left: 15px;
    padding-right: 5px;
    display: block;
    text-align: center;
    width: 100%;
    height: content-box;
    max-height: 200px;
    min-height: 50px;
    background-color: #eeeeee;
    overflow-y: -moz-scrollbars-vertical;

}

.statistics {
    padding: 5px;
    background-color: #eeeeee;
    text-align: center !important;
    font-size: x-small;
    height: content-box;
    max-height: 170px;
    overflow-y: -moz-scrollbars-vertical;

}

.result {
    margin-top: 20px;
    margin-left: 115px;
    display: block;
    visibility: visible;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    z-index: 999;
    height: auto;
    width: 600px;
    overflow: hidden;
    background-color: lightgray;
    padding: 10px;
}
.success {
    margin-top: 20px;
    margin-left: 6px;
    display: block;
    visibility: visible;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    z-index: 999;
    height: auto;
    width: 57%;
    overflow: hidden;
    background-color: lightgray;
    padding: 10px;
}

.closing {
    width:auto;
    height:auto;
    font-size: larger;
    z-index: 1000;;
    position: absolute;
    right: 5px !important;
    top: 5px;
    cursor: pointer;

}