
  {%  if products is defined %}
    {% for product in products %}

      <div class="col-sm-4">



            {% set isSelected = (product.id in app.session.get('selected')|keys) %}
            <div class="tile {% if isSelected %} badge-secondary {% endif %}">
                <h3>{{ product.name }}</h3>
                <img src="{{ asset(product.getPhoto()) }}">
                <div> {{ product.price }} coins</div>


                {% if isSelected %}
                    <a href="?deselect={{ product.id }}" class="btn btn-primary">Deselect</a>
                {% else %}
                    <a href="?select={{ product.id }}" class="btn btn-primary">Select</a>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_product_edit', {id: product.id}) }}" class="btn btn-primary">Edit</a>
                {% endif %}
            </div>

        </a>

      </div>
    {% endfor %}
  {% endif %}
{% if error is defined %}
    <div style="margin: auto">
        <h3>
            {{error}}
        </h3>
    </div>
{% endif %}
