{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
           <h3 style="text-decoration: underline">Userlist</h3>
            <div class="row">
            <div class="col" id="userlist">
                <table style="margin:auto">

                    {% for user in users %}
                        <tr>
                            <td class="userlist">{{ user.username }}</td>
                            {% if user.isblocked == 0 %}
                                <td class="userlist"><a href="{{ path('app_admin_block_user', {id: user.id }) }}"
                                                        class="btn btn-danger">block user</a></td>
                            {% else %}
                                <td class="userlist"><a href="{{ path('app_admin_block_user', {id: user.id }) }}"
                                                        class="btn btn-success">unblock user</a></td>
                            {% endif %}
                            {% if user.logindate|date('Y-m-d') == date()|date('Y-m-d')%}
                            <td class="userlist" style="background-color: #3c763d">{{ user.logindate|date('Y-m-d') }}</td>
                            {%  else %}
                            <td class="userlist" style="background-color: #a94442">{{ user.logindate|date('Y-m-d')  }}</td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                </table>
            </div>
            </div>
        </div>
    </div>
{% endblock %}