{% extends 'base.html.twig' %}
{% block body %}

    <div class="container">
    <div class="jumbotron">
            <p>
              Are you sure you want the reset the grid?
            </p>
            <form method="post" action="/admin/resetspeelveld">
               <h3> Dimensions: </h3>
              Width:  <input type="number"  name="width" value="20" min="10" max="20" required> (min: 10, max: 20)
               <br>
            Height:  <input type="number"  name="height" value="20" min="10" max="50" required> (min: 10, max: 50)
            <br>
                <button type="submit" class="btn-primary" onclick="return confirm('Are you sure?')">Bevestig</button>
                <a href="/admin" class="btn blue">Cancel</a>
            </form>
        </div>
        {{ app.session.set('speelveld',null) }}
    </div>
    </div>
{% endblock %}