{% extends 'base.html.twig' %}
{% block title %}Hello {{ app.user.username }} {% endblock %}
{% block body %}
    <div class="container">

        <div class="jumbotron">
            {% if error is defined %}
            <p style="color:red">    {{ error }} </p>
            {% endif %}
            <div class="example-wrapper">
                <h1>Hello {{ app.user.username }} </h1>

                <div style="text-align: center">
                    <h3>Persoonlijke gegevens</h3>
                    username: {{ app.user.username }} <br>
                    e-mail: {{ app.user.email }} <br>
                    last logindate: {{ app.user.logindate|date('Y-m-d') }}
                </div>
                <div class="example-wrapper">
                    <div style="text-align: center">
                        <h3>Actie panneel</h3>
                        <a href="{{ path('app_admin_userlist') }}" class="btn btn-info">userlist</a><br>
                        <a href="{{ path('app_admin_reset_speelveld') }}" class="btn btn-danger">Reset speelveld</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}