<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>
{{ include('header.html.twig') }}
{{ include('navbar.html.twig') }}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{{ include('footer.html.twig') }}
</body>
</html>
