{% extends "base.html.twig" %}

{% block title %}Shopping Basket{% endblock %}
{% block head %}{% endblock %}
{% block body %}
    <script>
    function closing() {
            let info = document.getElementById("success");
            info.style.setProperty("display", "none");
        }

    </script>

    <div class="container">
        <div class="jumbotron">

            <div class="row center-block">
        {% set success = app.session.get('success') %}
        {% if success is defined and success is not empty %}
            <div class="success" id="success">
                <div class="closing" onclick="closing()">Close X</div>
                <h1 style="color: blue;">Succesful</h1>

                The units were added to your town.

                <br> <br>
            </div>
        {% endif %}

        <h2> Shopping Basket</h2>
        {%  if app.session.get('error') is defined %}
            <p style="color:red">{{ app.session.get('error') }}</p>
        {% endif  %}

            <div class="row justify-content-sm-center">

               You currently have
                <b> {{ app.user.coins }}  </b>coins in your wallet

            </div>
            <div class="row justify-content-sm-center">

                {% if products is defined and products is not empty %}
                    <table>

                        {% for key, product in products %}

                        <tr>

                            {# <td>                                                 #}
                            {#    <img src="{{ asset(product.getPhoto()) }}">         #}
                            {# </td>                                                    #}
                            <tr>
                                <td>
                                    <tr>
                                    <img src="{{ asset(product.getPhoto()) }}">
                                    </tr>
                                    {{ product.name }} -
                           <b>
                                    {{ product.price }} coins </b>
                                    <form action="/Units/chooseTown" method="post">
                                        <Br>

                                        Koop 20 units voor het volgende dorp:
                                        <input type="hidden" name="productId" value="{{ product.id }}">
                                        <select name="chosenTown" id="chosenTown">
                                            {% for town in app.user.towns %}
                                                <option value="{{ town.id }}">
                                                    Town {{ town.id }} ({{ town.townquantity }}
                                                    units)
                                                </option>
                                            {% endfor %}
                                        </select>
                                       
                                        <br><br>
                                        {% if app.user.towns|length > 0  %}
                                        <input type="submit" class="btn btn-primary" id="confirm" value="Place Order">
                                    {% else %}
                                        You don't have a town yet.
                                        {%  endif %}
                                    </form>

                                </td>


                                    <tr>
                                       {#  <td><a href="{{ path('app_delete_from_basket', {id: key}) }}">remove</a>


                                        </td>#}
                                    </tr>
                        </tr>

                        {% endfor %}
                    </table>







            </div>
            <a href="{{ path('app_clear_basket') }}">Empty basket</a>
            <br>

            {% else %}
            <div>
<br>
                <b>Make a selection in the <a href="{{ path('app_product')}}">shop </a></b>
            </div>
        </div>

        {% endif %}



        </div>  </div>
    </div>
    {{  app.session.remove("success")  }}
    {{  app.session.remove("error")  }}
{% endblock %}
