{#{{ dump(locations) }}#}

<table>
   {% for row in locations %}
        <tr>
            {% for col in row %}
                <td>{{ col }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
