<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="text-center" style="background-color: #e7302a;">
        <div class="row">
            <div class="col">
                <h3>Disclaimer</h3>
            </div>
        </div>

        <br>
        <div style="color:white">
            <small>Copyright &copy; Team Blu Website</small>
        </div>
        <br>
    </div>

</footer>