

     <div class="navbar-header" style="display:block;background-image:url({{ asset('images/bannerbackground.png') }}); resize: vertical; width:100%">
         <div style="resize: none;  margin:auto">
          <a href="{{ path('app_home') }}" >
               <img src="{{ asset('images/banner.png') }}" alt="tribalwars.">
          </a>
         </div>
     </div>


