{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    <script>
        let flag = "";
        let prevcell = "";

        function showinfo(id) {

            let usercell = document.getElementById("u" + id);


            if (usercell.style.visibility = "hidden") {
                usercell.style.setProperty("visibility", "visible")
            }

        }

        function hide(id) {

            let usercell = document.getElementById("u" + id);


            usercell.style.setProperty("visibility", "hidden")


        }

        function show(id) {
            console.log(id);
            let towncell = document.getElementById("cell" + id);
            let towninfo = document.getElementById("towninfo");

            if (towninfo.innerHTML != towncell.innerHTML) {

                towninfo.innerHTML = towncell.innerHTML
                towninfo.style.setProperty("visibility", "visible")
            }

            if (flag != id) {
                let cell = document.getElementById(id);
                cell.style.setProperty("filter", "brightness(1.1)");


                if (flag) {
                    prevcell = document.getElementById(flag);
                    prevcell.style.setProperty("filter", "brightness(1.0)");


                }
                flag = id;
            }

        }

        function closing() {
            let info = document.getElementById("result");
            info.style.setProperty("display", "none");
        }

    </script>

    <div class="container">
        <div class="jumbotron">

            <div class="row center-block">
                {% if app.session.get('error') is defined and app.session.get('error') is not empty %}
                    <div class="result" id="result">
                        <div>Your last attempt:</div>
                        <div class="closing" onclick="closing()">close X</div>
                        <h2 style="color: orange;"> IMPOSSIBLE ACTION: </h2>

                        <h3> {{ app.session.get('error') }} </h3>
                        <br> <br>
                    </div>
                {% endif %}
                {% set result = app.session.get('result') %}
                {% if result is defined and result is not empty %}
                    <div class="result" id="result">
                        <div>Your last action:</div>
                        <div class="closing" onclick="closing()">Close X</div>
                        <h2> Result of the {{ result.6.actiondescription }}: </h2>

                        {% if result.0 %}

                            <h1 style="color: green;"> You WON! </h1>

                            You sent
                            <b>{{ result.1 }}</b> unit(s) from town{{ result.2.id }} to enemy town{{ result.4.id }} with a population of
                            <b>{{ result.3 }}</b>. You lost
                            <b>{{ result.7 }}</b> unit(s) on route. You have defeated all of the opponent's units.
                            <b>{{ result.5 }}</b> of your units remain to control your new town.</b>
                            Congratulations!

                        {% else %}

                            <h1 style="color: red;"> You LOST! </h1>

                            You sent
                            <b>{{ result.1 }}</b> unit(s) from town{{ result.2.id }} to enemy town{{ result.4.id }} with a population of
                            <b>{{ result.3 }}</b>. You lost <b>{{ result.7 }}</b> unit(s) on route. <b> All units were
                            lost
                            in battle.</b>
                            <b>{{ result.5 }}</b> units of the enemy town remain. Better luck next time!

                        {% endif %}
                        <br> <br>
                    </div>
                {% endif %}

                {% set defend = app.session.get('defend') %}
                {% if defend is defined and defend is not empty %}
                    <div class="result" id="result">
                        <div>Your last action:</div>
                        <div class="closing" onclick="closing()">Close X</div>
                        <h2> Result of the {{ defend.4.actiondescription }}: </h2>
                        <h1 style="color: blue;">Succesful</h1>

                        You sent
                        <b>{{ defend.0 }}</b> unit(s) from town{{ defend.1.id }} to your town{{ defend.2.id }} with a
                        population of
                        <b>{{ defend.3 }}</b>. You lost <b>{{ defend.6 }}</b> unit(s) on route. <b> You now have </b>
                        <b>{{ defend.5 }}</b> units in town{{ defend.2.id }}.


                        <br> <br>
                    </div>
                {% endif %}

                {% set build = app.session.get('build') %}
                {% if build is defined and build is not empty %}
                    <div class="result" id="result">
                        <div>Your last action:</div>
                        <div class="closing" onclick="closing()">Close X</div>
                        <h2> Result of the {{ build.7.actiondescription }}: </h2>
                        <h1 style="color: purple;">Succesful</h1>
                        You sent
                        <b>{{ build.0 }}</b> unit(s) from town{{ build.1 }} to location ({{ build.2 }},{{ build.3 }}).
                        You lost <b>{{ build.4 }}</b> unit(s) on route. <b> You now have </b>
                        <b>{{ build.5 }}</b> units in you new town{{ build.6.id }}.
                        <br> <br>

                    </div>
                {% endif %}
                <div class="col-md-9">
                    <table style="margin:auto">
                        {% for row in cells %}
                            <tr>
                                {% for cell in row %}
                                    <td>
                                        <!--+ >array keys 0 = location, 1 = actions, 2 = town, 3 = user -->
                                        {% if cell.2.id is defined %}
                                        <div id="{{ cell.0.id }}" class="town" onclick="show(this.id)"
                                             onmouseover="showinfo(this.id)" onmouseleave="hide(this.id)"
                                                {% if app.user.id is defined and app.user.id == cell.3.id %}
                                                    style="background-color:cornflowerblue;"
                                                {% endif %}
                                                {% if cell.3.logindate|date('Y-m-d') != date()|date('Y-m-d')%}
                                                    style="background-color: #be1522;"
                                                {% endif %} >
                                            <div id="u{{ cell.0.id }}" class="username">{{ cell.3.username }}
                                            </div>
                                            <div id="cell{{ cell.0.id }}" class="cellinfo">

                                                <div style="font-size:20px"><img height="20px" width="20px"
                                                                                 src="{{ asset('images/1.png') }}">
                                                    Town {{ cell.2.id }}</div>
                                                <div style="font-size:medium
                                                        {% if cell.3.logindate|date('Y-m-d') != date()|date('Y-m-d')%}
                                                           ; background-color: #be1522; color:white"
                                                        {% endif %}
                                                ;">
                                                    <u>{{ cell.3.username }}</u>
                                                    {% if cell.3 == app.user %}
                                                        <a style="color:green">(YOU)</a>
                                                    {% endif %}
                                                {% if cell.3.logindate|date('Y-m-d') != date()|date('Y-m-d')%}
                                                    (Inactive)
                                                {% endif %}
                                                </div>
                                                <br>
                                                Present Population :
                                                <div style="font-size: 30px">{{ cell.2.townquantity }} </div>
                                                {% if cell.2.actions is defined %}
                                                    Last actions:
                                                    {% if cell.2.actions is not empty %}
                                                        {% for action in cell.2.actions|slice(0, 3)|reverse %}
                                                            <li>
                                                                <b>{{ action.actiondescription }}</b>
                                                                with {{ action.actionquantity }} units on
                                                                {% if app.user.id is defined %}
                                                                    {% for town in app.user.getTowns() %}
                                                                        {% if action.location == town.location and action.actiondescription == 'Attack' and town not in app.user.towns %}
                                                                            <a onclick="show({{ action.location.id }})"
                                                                               style="color:red">YOUR TOWN</a>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                                coordinates
                                                                <a onclick="show({{ action.location.id }})"> {{ action.location }} </a>

                                                            </li>
                                                        {% endfor %}
                                                    {% else %}
                                                        None.
                                                        <br>
                                                    {% endif %}
                                                {% endif %}
                                                <br>

                                                {% if app.user.id is defined and app.user.id == cell.3.id and app.user.towns|length > 0 %}

                                                    <form action="/defendtown" method="post">
                                                        New Action: Send
                                                        <input type="number" name="defendunits" size="5" min="1"
                                                               max="100"
                                                               max-length="3" required>
                                                        Units from
                                                        <input type="hidden" name="locationId"
                                                               value="{{ cell.0.id }}">
                                                        <select name="origintown" id="origintown{{ cell.0.id }}">

                                                            {% for town in cell.3.towns %}
                                                                <option value="{{ town.id }}">
                                                                    Town {{ town.id }}
                                                                    ({{ town.townquantity }}units)
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                        to
                                                        <button class='btn btn-sm btn-link' type='submit'>
                                                            Defend
                                                            this Town.
                                                        </button>
                                                    </form>
                                                {% elseif app.user.id is defined and app.user.towns|length > 0 %}
                                                    <form action="/attacktown" method="post">
                                                        New Action: Send
                                                        <input type="number" name="attackunits" size="5" min="1"
                                                               max="998"
                                                               max-length="3" required>
                                                        Units from
                                                        <input type="hidden" name="locationId"
                                                               value="{{ cell.0.id }}">
                                                        <select name="origintown" id="origintown{{ cell.0.id }}">
                                                            {% for town in app.user.towns %}
                                                                <option value="{{ town.id }}">
                                                                    Town {{ town.id }} ({{ town.townquantity }}
                                                                    units)
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                        to
                                                        <button class='btn btn-sm btn-link' type='submit'>
                                                            Attack
                                                            this Town.
                                                        </button>
                                                    </form>

                                                {% endif %}

                                            </div>
                                        </div>
                                        {% else %}
                                        {% if app.user.getTowns() is defined and app.user.getTowns()|length > 0 %}
                                        <div id="{{ cell.0.id }}" class="cell" onclick="show(this.id)"
                                             onmouseover="showinfo(this.id)"
                                             onmouseleave="hide(this.id)">
                                            <div id="u{{ cell.0.id }}" class="username">{{ cell.0 }}
                                            </div>
                                            <div id="cell{{ cell.0.id }}" class="cellinfo">
                                                <img height="20px" width="20px"
                                                     src="{{ asset('images/0.png') }}">
                                                <div style="font-size:14px"> {{ cell.0 }} is empty.</div>

                                                <br>
                                                {% if app.user.id is defined %}
                                                    <form id=build{{ cell.0.id }} action="/buildtown" method="post">
                                                        Send
                                                        <input type="number" name="buildunits" size="4" min="20"
                                                               max="100"
                                                               max-length="3" required>
                                                        units (minimum 20) from
                                                        <input type="hidden" name="locationId" value="{{ cell.0.id }}">
                                                        <select name="origintown" id="origintown{{ cell.0.id }}">
                                                            {% for town in app.user.towns %}
                                                                <option value="{{ town.id }}">
                                                                    Town {{ town.id }} ({{ town.townquantity }}
                                                                    units)
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                        to
                                                        <button class='btn btn-sm btn-link' type='submit'> Build Town
                                                        </button>
                                                        </button>
                                                    </form>
                                                {% endif %}
                                                {% else %}
                                                <div id="{{ cell.0.id }}" class="cell" onclick="show(this.id)"
                                                     onmouseover="showinfo(this.id)"
                                                     onmouseleave="hide(this.id)">
                                                    <div id="u{{ cell.0.id }}" class="username">{{ cell.0 }}
                                                    </div>
                                                    <div id="cell{{ cell.0.id }}" class="cellinfo">

                                                        <div style="font-size:medium">
                                                            <img height="20px" width="20px" src="{{ asset('images/0.png') }}">
                                                            {{ cell.0 }} is empty.</div>

                                                        <br>
                                                        {% if app.user.id is defined %}
                                                            {% if app.user.towns is empty %}
                                                                <form id=build{{ cell.0.id }} action="/buildfirsttown"
                                                                      method="post">

                                                                    <input type="hidden" name="buildunits" value="20">

                                                                    <input type="hidden" name="locationId"
                                                                           value="{{ cell.0.id }}">

                                                                    <button class='btn btn-sm btn-link' type='submit'>
                                                                        Build
                                                                        First Town
                                                                    </button>
                                                                </form>
                                                            {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-1 stats">

                    <h2>Towninfo</h2>
                    <div id="towninfo">
                        <h4>Select a location.</h4>
                    </div>

                    <h2>Events</h2>
                    <div class="events">

                        {% if events is defined %}
                            {% for event in events %}

                                <li>{{ event.actiondescription }} by <u>{{ event.user.username }}</u>
                                    with {{ event.actionquantity }} units on
                                    coordinates <a id="{{ event.location.id }}"
                                                   onclick="show(this.id)"> {{ event.location }} </a></li>


                            {% endfor %}
                        {% endif %}
                    </div>

                    <h2>Stats</h2>
                    {% if scores is defined %}
                    <div class="statistics">
                        <table style="width:auto">
                            <tr>
                                <td style="padding:3px;height:20px;width:40px">
                                    <u> User </u>
                                </td>
                                <td style="padding:3px;height:20px;width:35px">
                                    <img height="20px" width="20px"
                                         src="{{ asset('images/unit.png') }}" alt="# units">
                                </td>
                                <td style="padding:3px;height:20px;width:35px">
                                    <img height="20px" width="20px"
                                         src="{{ asset('images/town.png') }}" alt="# towns">

                                <td style="padding:3px;height:20px;width:35px">
                                    <img height="20px" width="20px"
                                         src="{{ asset('images/action.png') }}" alt="# actions">
                                </td>
                                <td style="padding:3px;height:20px;width:35px">
                                    <b>score</b>

                                </td>
                            </tr>
                            {% set userscore = false %}
                            {% for score in scores|slice(0, 5) %}
                                <tr {% if app.user.id is defined and app.user.username == score.0 %} style="color:#337ab7" {% endif %} >
                                    <td> {{ score.0 }}
                                    </td>
                                    <td> {{ score.1 }}
                                    </td>
                                    <td> {{ score.2 }}
                                    </td>
                                    <td> {{ score.3 }}
                                    </td>
                                    <td> {{ score.4 }}
                                    </td>
                                    {% if app.user.id is defined and app.user.username == score.0 %}
                                        {% set userscore = true %}
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            {% if app.user.id is defined and userscore == false %}
                                {% for score in scores %}
                                    {% if app.user.username == score.0 %}
                                        <tr>
                                            <td>...</td>
                                        </tr>
                                        <tr style="color:#337ab7">
                                            <td> {{ score.0 }}
                                            </td>
                                            <td> {{ score.1 }}
                                            </td>
                                            <td> {{ score.2 }}
                                            </td>
                                            <td> {{ score.3 }}
                                            </td>
                                            <td> {{ score.4 }}
                                            </td>

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}


                        </table>
                        <div>
                            <br>
                            <img style="margin-bottom: 2px" height="13px" width="13px"
                                 src="{{ asset('images/unit.png') }}"># of units |
                            <img style="margin-bottom: 2px" height="13px" width="13px"
                                 src="{{ asset('images/town.png') }}"># of towns |
                            <img style="margin-bottom: 2px" height="13px" width="13px"
                                 src="{{ asset('images/action.png') }}"># of actions
                        </div>

                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
    {{  app.session.clear  }}
{% endblock %}
