
<div>
    <nav class="nav justify-content-center " role="navigation">
    {% set section = app.request.get('section') %}
    <div class="navigation"><a class="nav-link {{ section  == 'home' ? 'btn-default' : '' }}" href="{{ path('app_home')}}"> Join Game </a>
        <a> | </a>
        <a class="nav-link {{ section  == 'rules' ? 'btn-default' : '' }}" href="{{ path('app_rules')}}"> Rules of the Game </a>
        <a> | </a>
        {% if app.user %}

            <a class="nav-link" href="{{ path('app_profile') }}">
               Profile  </a>
            <a> | </a>
            <a class="nav-link {{ section  == 'product' ? 'btn-default' : '' }}" href="{{ path('app_product')}}"> Shop </a>
            <a> | </a>
            <a class="nav-link {{ section  == 'basket' ? 'btn-default' : '' }}" href="{{ path('app_basket') }}">Shopping Basket</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a> | </a>
                <a class="navbar-link" {{ section  == 'admin' ? 'btn-default' : '' }} href="{{ path('app_admin') }}">Adminpanel</a>
            {% endif %}

            <a> | </a>
            <a class="nav-link" href="{{ path('app_logout') }}">
                Logout </a>

        {% else %}
            <a class="nav-link {{ section  == 'login' ? 'btn-default' : '' }}" href="{{ path('app_login')}}"> Log In </a>

        {% endif %}

    </div>
    </nav>
</div>