{% extends "base.html.twig" %}

{% block title %}Shop{% endblock %}
{% block head %}{% endblock %}
{% block body %}



    <div class="container">


        <div class="jumbotron">

            <h2> Shop </h2>
            {% if app.session.get('selected')|keys %}
                <a href="{{ path('app_add_to_basket') }}", style="color:white" class="btn btn-danger">Add selected products to cart</a>
            {% endif %}


            <div class="row" id="products">
                {% include '_products.html.twig' %}
            </div>


            <br>
        </div>

    </div>
{% endblock %}