{% extends "base.html.twig" %}

{% block title %}Productcatalogus{% endblock %}
{% block head %}{% endblock %}
{% block body %}


    <div class="container">
        <h2> Onze producten</h2>

        <div class="jumbotron">

            <div class="card" id="card">


                    <div class="card-header">
                        <h3>Product Detail: {{ product.name }}</h3>
                        </div>
                <div class="card-img">
                        <img src="{{ asset(product.getPhoto()) }}">
                    </div>

                <div class="card-body">
                    <h4>Description</h4>
                    <div> Description </div>
                    <div> Prijs: {{ product.price }} </div>
                    <div>
                    <a href="{{ path('app_add_to_basket', {id: product.id}) }}" class="btn btn-primary">Add to Cart</a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_product_edit', {id: product.id}) }}" class="btn btn-warning">Edit</a>
                        {% endif %}
                    </div>

                </div>


            </div>

        </div>


    <a href="{{ path('app_product') }}" class="btn btn-primary">Back</a>
        <br></br>
    </div>
{% endblock %}