{% extends "base.html.twig" %}

{% block title %}Edit Character{% endblock %}
{% block head %}{% endblock %}
{% block body %}


    <div class="container">
        <h2> Edit following item: {{ product.name }}</h2>
<div class="align-items-sm-center" >
    <div style="width:500px;margin:auto">

    {{ form(form) }}
    </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}">Back</a>
        {% else %}
            <a href="{{ path('app_product') }}" class="btn btn-primary">Back</a>
        {% endif %}
        <br></br>
    </div>
{% endblock %}