{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            <custom>Official Game Rules</custom>
            <br><hr>

            <h3> Voor nieuwe spelers:</h3>
                    <div>
                        Je kan gratis een town ter waarde van 20 units bouwen.
                    </div>

                    <h3>Town Bouwen:</h3>

                    <div>
                        Het bouwen van een town kost 20 units <br>
                        Let op: je mag niet onmiddellijk naast een town van een tegenspeler bouwen, je moet altijd een
                        speelveld tussen laten
                    </div>

                    <h3>Town Veroveren:</h3>

                    <div>
                        Je mag kiezen hoeveel units je van je town verstuurt naar de town van je tegenspeler
                        Let op: per speelveld tussen jouw town en de town van je tegenspeler verlies je procentueel
                        een aantal units of basis van de afstand tussen de twee towns.

                        Als je de town van je tegenspeler weet te bereiken met een aantal units, dan volgt er een spannende strijd.
                        Er komt hier voor een deel geluk bij kijken maar aan te raden is dat je altijd tenminste ongeveer evenveel units moet sturen om een town te veroveren.
                        De verliezer van de confrontatie verliest al zijn eenheden, dus denk goed na voordat je jouw eenheden op pad stuurt.
                    </div>

                    <h3>Town Verdedigen:</h3>

                    <div>
                        Je kan er ook voor kiezen om je een town strategisch te versterken door er een aantal units van één van je andere towns naar te
                        sturen.
                        Let op: Je kan hier ook eenheden verliezen afhankelijk van de afstand tussen je towns. Bouw ze dus niet te ver uit elkaar.
                    </div>
            <h3>Coins:</h3>
            <div>
            Per 20 acties die je onderneemt krijg je 5 coins. Met deze coins kan je units kopen en naar één van je dorpen sturen.
            </div>
                    <br>
            <h3>Bonus:</h3>
                    <div>
                        Je krijgt elke dag automatisch 10 extra units per town die je runt. Hiervoor moet je helemaal niets doen. Als je daarboven ook elke dag inlogt, krijg je nog eens 4 units extra erbij per town.
                        Je towns dagelijks in de gaten houden loont dus!
                    </div>

                    <div>
                        <br>
                        <a href="{{ path('app_home') }}">Back</a>
                    </div>

        </div>
    </div>
{% endblock %}